body {
  display: block;
  margin: 0 !important;
  font-family: "Montserrat", sans-serif !important;
  background-color: #dbeafe;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.Tools {
  display: flex;
}

.hide {
  display: none;
}

i {
  cursor: pointer;
}

.editIcon {
  margin-left: 5px !important;
  color: rgb(126, 124, 4);
}

.deleteIcon {
  margin-left: 5px !important;
  color: rgb(231, 88, 35);
}

.checkedItem {
  text-decoration: line-through;
}

.lists {
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-task {
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.input {
  width: 60%;
  padding: 10px;
}

.remove_completed {
  margin: 10px;
  padding: 10px;
  background-color: rgb(249, 98, 98);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.add {
  padding: 10px;
  background-color: #dbeafe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sinlge-list {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.checklist {
  padding: 10px;
  border: 1px solid black;
}

.inputedit {
  padding: 10px;
}

.checktitle {
  margin-left: 10px;
}

.listinfos {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.todo-container {
  margin-top: 40px;
  border-radius: 5px;
  display: flex;
  width: 600px;
  background-color: #f0fdfa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: flex-start;
}

h1 {
  font-size: 30px !important;
  font-weight: 300 !important;
}

a {
  text-decoration: none;
}
